# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints/

# Pyre type checker
.pyre/

# Celery
celerybeat-schedule
*.pid

# SageMath
*.sage.py

# Environments
.env
.env.*
.venv
.venv.*

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Other
*.log
*.sqlite3
*.db
*.pot
*.mo
*.pyo
*.pyd
*.pdb
*.dll
*.stackdump
*.swp
*.swo
*.swn
*.tmp
*.temp
*.bak
*.old
*.orig
*.rej
*.sublime-workspace
*.sublime-project

test-formulas